<script lang="ts">
  export let gridSize: number;
  export let quantity: number;
  export let padding: number;

  const boxSize = 100;
  const gap = 4;

  // Constraints
  $: quantity = Math.min(gridSize ** 2, quantity);
  $: radius = (boxSize - 2 * padding - (gridSize - 1) * gap) / (2 * gridSize);
  $: offset = padding + radius;
  $: centersDistance = 2 * radius + gap;

  $: dotPositionX = (index: number) => {
    const col = index % gridSize;
    return offset + centersDistance * col;
  };

  $: dotPositionY = (index: number) => {
    const row = Math.floor(index / gridSize);
    return offset + centersDistance * row;
  };

  const dots = (quantity: number) => {
    const grid = {
      3: [
        [],
        [4],
        [0, 8],
        [0, 4, 8],
        [0, 2, 6, 8],
        [0, 2, 4, 6, 8],
        [0, 2, 3, 5, 6, 8],
        [0, 2, 3, 4, 5, 6, 8],
        [0, 1, 2, 3, 5, 6, 7, 8],
        [0, 1, 2, 3, 4, 5, 6, 7, 8],
      ],
      4: [
        [],
        [5],
        [5, 10],
        [5, 10, 9],
        [5, 10, 9, 6],
        [5, 10, 9, 6, 0],
        [5, 10, 9, 6, 0, 15],
        [5, 10, 9, 6, 0, 15, 12],
        [5, 10, 9, 6, 0, 15, 12, 3],
        [5, 10, 9, 6, 0, 15, 12, 3, 1],
        [5, 10, 9, 6, 0, 15, 12, 3, 1, 14],
        [5, 10, 9, 6, 0, 15, 12, 3, 1, 14, 2],
        [5, 10, 9, 6, 0, 15, 12, 3, 1, 14, 2, 13],
        [5, 10, 9, 6, 0, 15, 12, 3, 1, 14, 2, 13, 5],
        [5, 10, 9, 6, 0, 15, 12, 3, 1, 14, 2, 13, 5, 11],
        [5, 10, 9, 6, 0, 15, 12, 3, 1, 14, 2, 13, 5, 11, 8],
        [5, 10, 9, 6, 0, 15, 12, 3, 1, 14, 2, 13, 5, 11, 8, 7],
      ],
    };
    return grid[3][quantity];
  };
</script>

<svg class="inca-tile" viewBox="0 0 {boxSize} {boxSize}">
  <!-- Quantity -->
  {#each dots(quantity) as index}
    <circle
      class="inca-tile-foreground"
      cx={dotPositionX(index)}
      cy={dotPositionY(index)}
      r={radius}
    />
  {/each}
</svg>
