<script lang="ts">
  export let gridSize: number;
  export let quantity: number;

  const boxSize = 100;
  const padding = 2;

  // Constraints
  $: quantity = Math.min(gridSize ** 2, quantity);
</script>

<svg class="inca-tile" viewBox="0 0 {boxSize} {boxSize}">
  <!-- Quantity -->
  <circle
    class="inca-tile-foreground"
    cx={boxSize / 2}
    cy={boxSize / 2}
    r={(quantity * (boxSize - padding)) / (2 * gridSize ** 2)}
  />
</svg>
