<script lang="ts">
  export let gridSize: number;
  export let quantity: number;
  export let padding: number;

  const boxSize = 100;

  // Constraints
  $: quantity = Math.min(gridSize ** 2, quantity);

  const getLineX2 = (radius: number, radians: number) =>
    Math.cos(radians) * radius + boxSize / 2;
  const getLineY2 = (radius: number, radians: number) =>
    Math.sin(radians) * radius + boxSize / 2;

  $: getLines = (radius: number) => {
    const initialRadius = Math.random() * 2 * Math.PI;
    const radiansArray = Array.from(
      { length: quantity },
      (_, i: number) =>
        (initialRadius + (i * (2 * Math.PI)) / quantity) % (2 * Math.PI)
    );
    return radiansArray.map((radians) => ({
      x2: getLineX2(radius, radians),
      y2: getLineY2(radius, radians),
    }));
  };
</script>

<svg class="inca-tile" viewBox="0 0 {boxSize} {boxSize}">
  {#if quantity > 0}
    <!-- Outer Circle -->
    <circle
      class="inca-tile-foreground"
      cx={boxSize / 2}
      cy={boxSize / 2}
      r={(boxSize - padding) / 2}
    />
    <!-- Inner Circle -->
    <circle class="inner-circle" cx={boxSize / 2} cy={boxSize / 2} r={12} />
  {/if}
  {#if quantity > 1}
    {#each getLines((boxSize - padding + 1) / 2) as line}
      <line
        class="divider"
        x1={boxSize / 2}
        y1={boxSize / 2}
        x2={line.x2}
        y2={line.y2}
        stroke-width={3}
      />
    {/each}
  {/if}
</svg>

<style>
  .inner-circle {
    fill: var(--inca-tile-background);
  }

  .divider {
    stroke: var(--inca-tile-background);
  }
</style>
