<script lang="ts">
  export let gridSize: number;
  export let quantity: number;
  export let padding: number;

  // Constraints
  $: quantity = Math.min(gridSize * gridSize, quantity);

  const boxSize = 100;
  const gap = 4;

  $: radius = (boxSize - 2 * padding - (gridSize - 1) * gap) / (2 * gridSize);
  $: offset = padding + radius;
  $: centersDistance = 2 * radius + gap;

  const dots = (quantity: number) => {
    const totalDots = Array.from(Array(gridSize * gridSize).keys());
    const dots: number[] = [];
    while (dots.length < quantity) {
      const index = Math.floor(Math.random() * totalDots.length);
      dots.push(totalDots.splice(index, 1)[0]);
    }
    return dots;
  };

  $: dotPositionX = (index: number) => {
    const col = index % gridSize;
    return offset + centersDistance * col;
  };

  $: dotPositionY = (index: number) => {
    const row = Math.floor(index / gridSize);
    return offset + centersDistance * row;
  };
</script>

<svg class="inca-tile" viewBox="0 0 {boxSize} {boxSize}">
  <!-- Quantity -->
  {#each dots(quantity) as index}
    <circle
      class="inca-tile-foreground"
      cx={dotPositionX(index)}
      cy={dotPositionY(index)}
      r={radius}
    />
  {/each}
</svg>
