<script lang="ts">
  export let gridSize: number;
  export let quantity: number;
  export let padding: number;

  const boxSize = 100;
  const gap = 4;

  // Constraints
  $: quantity = Math.min(gridSize * gridSize, quantity);

  $: radius = (boxSize - 2 * padding - (gridSize - 1) * gap) / (2 * gridSize);
  $: offset = padding + radius;
  $: centersDistance = 2 * radius + gap;

  const dots = (quantity: number) => {
    let filledRows = Math.floor(quantity / gridSize);
    const lastRowDots = Array.from({ length: gridSize }, (_, i: number) => i);

    const dotsToRemoveFromLastRow = gridSize - (quantity % gridSize);
    for (let i = 0; i < dotsToRemoveFromLastRow; i++) {
      const randomIndex = Math.floor(Math.random() * lastRowDots.length);
      lastRowDots.splice(randomIndex, 1);
    }

    const dots: number[] = [];
    const matrixPosition = (row: number, column: number) =>
      column + row * gridSize;

    for (let row = gridSize - 1; row >= 0; row--) {
      if (filledRows > 0) {
        for (let column = 0; column < gridSize; column++) {
          dots.push(matrixPosition(row, column));
        }
      } else {
        for (let column = 0; column < gridSize; column++) {
          if (lastRowDots.includes(column))
            dots.push(matrixPosition(row, column));
        }
        break;
      }
      filledRows--;
    }

    return dots;
  };

  $: dotPositionX = (index: number) => {
    const col = index % gridSize;
    return offset + centersDistance * col;
  };

  $: dotPositionY = (index: number) => {
    const row = Math.floor(index / gridSize);
    return offset + centersDistance * row;
  };
</script>

<svg class="inca-tile" viewBox="0 0 {boxSize} {boxSize}">
  <!-- Quantity -->
  {#each dots(quantity) as index}
    <circle
      class="inca-tile-foreground"
      cx={dotPositionX(index)}
      cy={dotPositionY(index)}
      r={radius}
    />
  {/each}
</svg>
