<script lang="ts">
  export let gridSize: number;
  export let quantity: number;

  // Constraints
  $: quantity = Math.min(gridSize ** 2, quantity);

  const boxSize = 100;
</script>

<svg class="inca-tile" viewBox="0 0 {boxSize} {boxSize}">
  <!-- Quantity -->
  <rect
    class="inca-tile-foreground"
    y={boxSize - (quantity * boxSize) / gridSize ** 2}
    width={boxSize}
    height={(quantity * boxSize) / gridSize ** 2}
  />
</svg>
