<script lang="ts">
  export let gridSize: number;
  export let quantity: number;
  export let borderColor: string;
  export let backgroundColor: string;
  export let foregroundColor: string;
  export let borderSize: number;
  export let borderRadius: number;
  export let padding: number;

  // Constraints
  $: quantity = Math.min(gridSize * gridSize, quantity);

  const boxSize = 100;
  const gap = 4;

  // Constraints
  $: quantity = Math.min(gridSize ** 2, quantity);
  $: innerBoxSize = boxSize - 2 * borderSize;
  $: radius =
    (innerBoxSize - 2 * padding - (gridSize - 1) * gap) / (2 * gridSize);
  $: offset = borderSize + padding + radius;
  $: centersDistance = 2 * radius + gap;

  const getLineX2 = (radius: number, radians: number) =>
    Math.cos(radians) * radius + boxSize / 2;
  const getLineY2 = (radius: number, radians: number) =>
    Math.sin(radians) * radius + boxSize / 2;

  $: getLines = (radius: number) => {
    const initialRadius = Math.random() * 2 * Math.PI;
    const radiansArray = Array.from(
      { length: quantity },
      (_, i: number) =>
        (initialRadius + (i * (2 * Math.PI)) / quantity) % (2 * Math.PI)
    );
    return radiansArray.map((radians) => ({
      x2: getLineX2(radius, radians),
      y2: getLineY2(radius, radians),
    }));
  };

  $: dotPositionX = (index: number) => {
    const col = index % gridSize;
    return offset + centersDistance * col;
  };

  $: dotPositionY = (index: number) => {
    const row = Math.floor(index / gridSize);
    return offset + centersDistance * row;
  };
</script>

<svg viewBox={`0 0 ${boxSize} ${boxSize}`}>
  <!-- Border -->
  {#if borderSize}
    <rect
      width={boxSize}
      height={boxSize}
      fill={borderColor}
      rx={borderRadius ? borderRadius + borderSize : 0}
    />
  {/if}
  <!-- Background -->
  <rect
    x={borderSize}
    y={borderSize}
    width={innerBoxSize}
    height={innerBoxSize}
    fill={backgroundColor}
    rx={borderRadius}
  />
  {#if quantity > 0}
    <!-- Outer Circle -->
    <circle
      cx={boxSize / 2}
      cy={boxSize / 2}
      r={(innerBoxSize - padding) / 2}
      fill={foregroundColor}
    />
    <!-- Inner Circle -->
    <circle cx={boxSize / 2} cy={boxSize / 2} r={12} fill={backgroundColor} />
  {/if}
  {#if quantity > 1}
    {#each getLines((innerBoxSize - padding + 1) / 2) as line}
      <line
        x1={boxSize / 2}
        y1={boxSize / 2}
        x2={line.x2}
        y2={line.y2}
        stroke={backgroundColor}
        stroke-width={3}
      />
    {/each}
  {/if}
</svg>
