label,
.inca-label {
  font-size: 1em;
  margin: 0.8em 0 0.4em 0;
  display: block;
  font-weight: 500;
}

.inca-form-inline {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0;

  label,
  .inca-label {
    margin: 0;
  }
}

input:disabled,
select:disabled {
  opacity: 0.6;
}
