@use '../variables' as *;

input[type='checkbox'] {
  display: grid;
  place-content: center;
  font: inherit;
  border-radius: 0.2em;
  margin: 0;
  padding: 0;
  height: 1em;
  aspect-ratio: 1;
  outline: 0.1em solid currentColor;
  outline-offset: -0.1em;

  &::before {
    content: '✓';
    color: transparent;
  }

  &:checked {
    appearance: none;
    font: inherit;
    margin: 0;
    background-color: var(--inca-primary, $inca-primary);
    outline: none;

    &::before {
      color: var(--inca-on-primary, $inca-on-primary);
    }
  }

  &:not(:checked):disabled {
    background-color: rgba(128, 128, 128, 0.329);
  }
}
