input[type='color'] {
  display: block;
  height: 1.4em;
  width: 2em;
  aspect-ratio: 16 / 9;
  border-radius: 0.3em;
  border: none;
  overflow: hidden;
  padding: 0;

  /* color input customize */
  &::-webkit-color-swatch-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }

  /* color input customize */
  &::-webkit-color-swatch {
    border: none;
  }

  &::-moz-color-swatch {
    border: none;
  }

  &::-moz-focus-inner {
    border: none;
    padding: 0;
    padding-inline: 0;
  }
}
