@use '../variables' as *;

input[type='text'],
input[type='number'],
select {
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 1.6em;
  padding: $input-padding;
  color: var(--inca-on-surface-variant, $inca-on-surface-variant);
  background-color: var(--inca-surface-variant, $inca-surface-variant);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border-radius: $input-radius;
}

select {
  text-wrap: nowrap;
  padding-right: 3em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23adb5bd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

select::before {
  content: '⌃';
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
