<script lang="ts">
  import { faXmark } from '@fortawesome/free-solid-svg-icons';
  import Fa from '../Fa.svelte';
  import type {
    AdvancedColorsStore,
    RawTheme,
    ThemeCollectionStore,
    ThemeStore,
  } from '../../apis/theme';

  export let theme: ThemeStore;
  export let themeCollection: ThemeCollectionStore;
  export let advancedColors: AdvancedColorsStore;

  const onChangeCustom = (
    value: string | boolean,
    optionKey: keyof RawTheme
  ) => {
    themeCollection.updateCustom({
      [optionKey]: value,
    });
  };

  const advancedColorsLabels = {
    gameBackground: 'Game Background',
    gameForeground: 'Game Foreground',
    tileBackground: 'Tile Background',
    tileForeground: 'Tile Foreground',
    tileBorder: 'Tile Border',
  };

  const options: [keyof Omit<RawTheme, 'source'>, string][] = [
    ['darkMode', 'Dark Mode'],
    ['roundedTile', 'Rounded Tile'],
    ['smallBorderTile', 'Small Border Tile'],
    ['highContrastTile', 'High Contrast Tile'],
  ];
</script>

<div class="customize">
  <!-- OPTIONS -->
  <div>
    <h5>Options</h5>
    <div class="color-options">
      {#each options as [key, label]}
        <div class="inca-form-inline">
          <input
            id={key}
            class="inca-input"
            type="checkbox"
            disabled={$theme.name !== 'custom'}
            checked={$themeCollection[$theme.name].options[key]}
            on:input={(event) =>
              onChangeCustom(event.currentTarget.checked, key)}
          />
          <label class="inca-label" for={key}>{label}</label>
        </div>
      {/each}
    </div>
  </div>

  <div class="colors">
    <h5>Override Colors</h5>
    <div class="color-customization">
      <div class="inca-form-inline">
        <input
          class="inca-input"
          id="customColorSource"
          type="color"
          disabled={$theme.name !== 'custom'}
          value={$themeCollection[$theme.name].options.source}
          on:input={(event) =>
            onChangeCustom(event.currentTarget.value, 'source')}
        />
        <label class="inca-label" for="customColorSource">Source</label>
        <span class="color-code">{$theme.options.source}</span>
      </div>
      {#each Object.entries(advancedColorsLabels) as [key, label]}
        <div class="inca-form-inline">
          <input
            class="inca-input"
            id="advancedColor_{key}"
            type="color"
            disabled={$theme.name !== 'custom'}
            value={($theme.name === 'custom' && $advancedColors[key]) ||
              $theme.original.colors[key]}
            on:input={(event) => {
              $advancedColors[key] = event.currentTarget.value;
            }}
          />
          <label class="inca-label" for="advancedColor_{key}">{label}</label>
          <span class="color-code"
            >{($theme.name === 'custom' && $advancedColors[key]) ||
              $theme.original.colors[key]}</span
          >
          {#if $theme.name === 'custom' && $advancedColors[key]}
            <button
              class="inca-form-button"
              on:click={() => {
                $advancedColors[key] = undefined;
              }}
            >
              <Fa icon={faXmark} />
            </button>
          {/if}
        </div>
      {/each}
    </div>
  </div>
</div>

<style lang="scss">
  .customize {
    gap: 2rem;
    padding: 0 1rem;

    .colors {
      flex-grow: 1;
    }
  }

  .color-options {
    display: flex;
    gap: 2em;
    margin-bottom: 1em;
  }

  .color-customization {
    width: 100%;
    display: grid;
    gap: 0 2em;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  h5 {
    margin: 0;
    margin-bottom: 0.2em;
  }

  span.color-code {
    opacity: 0.8;
    user-select: all;
    font-family: monospace;
    margin-left: auto;
    margin-right: 1.6em;
  }

  .inca-form-inline {
    position: relative;
    .inca-form-button {
      position: absolute;
      right: 0;
    }
  }
</style>
