<script lang="ts">
  import { faTruckMonster, faHippo } from '@fortawesome/free-solid-svg-icons';
  import Tile from '../Tile.svelte';
  import TrainerButton from '../TrainerButton.svelte';
  import Fa from '../Fa.svelte';
  import ActionButton from '../ActionButton.svelte';
  import type { ThemeStore } from '../../apis/theme';

  export let theme: ThemeStore;
</script>

<div class="preview-container">
  <div class="preview" style:background-color={$theme.colors.gameBackground}>
    <div class="action-buttons">
      <ActionButton mode="ready" />
      <ActionButton mode="exit" />
    </div>
    <Tile --width="10em" />
    <div class="titles">
      <h1 style:color={$theme.colors.gameForeground} class="title">
        Level 1-2
      </h1>
      <h1 style:color={$theme.colors.green} class="title">Fail</h1>
      <h1 style:color={$theme.colors.red} class="title">Success</h1>
    </div>

    <div class="trainer-buttons">
      <TrainerButton label="Protected">
        <Fa icon={faTruckMonster} />
      </TrainerButton>
      <TrainerButton longpressTime={0} label="Not Protected">
        <Fa icon={faHippo} />
      </TrainerButton>
    </div>
  </div>
</div>

<style lang="scss">
  .preview-container {
    width: 100%;
    justify-content: space-evenly;
    align-self: center;

    .preview {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
    }
  }
  .titles {
    text-align: center;
  }

  .title {
    font-size: 2.2rem;
    margin: 0.5rem;
  }

  .preview {
    border-radius: 1rem;
  }

  .trainer-buttons {
    display: flex;
    gap: 1rem;
    align-self: self-start;
    padding: 1rem;
  }
</style>
