@import url('https://rsms.me/inter/inter.css');

:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1rem 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

p,
a,
li {
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

li {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
}

li::marker {
  color: inherit;
}
