<script lang="ts">
  import { ActionButton } from '../../../dist';
</script>

<div class="content">
  <ActionButton mode="ready" />
  <ActionButton mode="exit" />
</div>

<style>
  .content {
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
  }
</style>
