<script>
  import { faPlay } from '@fortawesome/free-solid-svg-icons';
  import { Fa } from '../../../dist';
  import { speech } from '../../../dist/apis';

  // Set defaults
  $speech.speeches['with args'] ??=
    'The first argument is {foo}, the second argument is {bar}';
</script>

<fieldset>
  <div class="inca-form-inline">
    <label for="speech-volume">Voice</label>
    <select bind:value={$speech.config.voiceName} id="">
      {#each $speech.voices as voice}
        <option value={voice}>{voice}</option>
      {/each}
    </select>
  </div>

  <div class="inca-form-inline">
    <label for="speech-volume">Volume</label>
    <input
      bind:value={$speech.config.volume}
      min="0"
      max="1"
      step="0.01"
      type="range"
      id="speech-volume"
    />
    <p class="inca-label">{$speech.config.volume}</p>
  </div>

  <div class="inca-form-inline">
    <label for="speech-pitch">Pitch</label>
    <input
      bind:value={$speech.config.pitch}
      min="0"
      max="2"
      step="0.1"
      type="range"
      id="speech-pitch"
    />
    <p class="inca-label">{$speech.config.pitch}</p>
  </div>

  <div class="inca-form-inline">
    <label for="speech-rate">Rate</label>
    <input
      bind:value={$speech.config.rate}
      min="0.1"
      max="2"
      step="0.1"
      type="range"
      id="speech-rate"
    />
    <p class="inca-label">{$speech.config.rate}</p>
  </div>
</fieldset>

<label for="speech-test-input">Test</label>
<div class="speech-input">
  <input
    bind:value={$speech.speeches['just a test']}
    type="text"
    id="speech-test-input"
    placeholder="Text to speech"
  />
  <button on:click={() => speech.play('just a test')}>
    <Fa icon={faPlay} />
  </button>
</div>

<label for="speech-test-input"
  >Speech with parameters &#123;foo&#125; &#123;bar&#125;
</label>
<div class="speech-input">
  <input
    bind:value={$speech.speeches['with args']}
    type="text"
    id="speech-test-input"
    placeholder="Text to speech"
  />
  <button
    on:click={() =>
      speech.play('with args', { foo: 'hypothalamus', bar: '@@@@' })}
  >
    <Fa icon={faPlay} />
  </button>
</div>

<style>
  .speech-input {
    display: flex;
    gap: 0.5rem;
  }

  .speech-input button {
    border-radius: 0.6rem;
    padding: 0.8rem 2em;
    background-color: var(--inca-primary-container);
    color: var(--inca-on-primary-container);
  }

  .inca-form-inline {
    display: grid;
    grid-template-columns: 4rem 1fr 3rem;
  }

  select {
    grid-column: 2 / span 2;
  }

  fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;
  }
</style>
