<script lang="ts">
  import type { ComponentProps } from 'svelte';
  import { Tile, NumberInput } from '../../../dist';

  const props: ComponentProps<Tile> = {
    mode: 'rect',
    quantity: 4,
    gridSize: 3,
  };
</script>

<div class="content">
  <!-- TILES -->
  <Tile {...props} />

  <!-- CONTROLLED PROPS -->
  <fieldset>
    <!-- MODE INPUT -->
    <div class="selection inca-form-inline">
      <label for="mode">Mode</label>
      <select name="mode" id="mode" bind:value={props.mode}>
        <option value="dice">Dice</option>
        <option value="rect">Rect</option>
        <option value="disc">Disc</option>
        <option value="stack">Stack</option>
        <option value="heap">Heap</option>
        <option value="grid">Grid</option>
        <option value="donut">Donut</option>
      </select>
    </div>

    <!-- GRIDSIZE INPUT -->
    <div class="inca-form-inline">
      <label for="gridSize">Grid Size</label>
      <NumberInput
        id="gridSize"
        min={3}
        max={props.mode === 'dice' ? 3 : 7}
        bind:value={props.gridSize}
      />
    </div>

    <!-- QUANTITY INPUT -->
    <div class="inca-form-inline">
      <label for="quantity">Quantity</label>
      <NumberInput
        id="quantity"
        min={0}
        max={props.gridSize ** 2}
        bind:value={props.quantity}
      />
    </div>
  </fieldset>
</div>

<style>
  .inca-form-inline {
    position: relative;
  }

  .content {
    display: grid;
    gap: 1em;
    padding: 1em;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  fieldset {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 4em;
  }

  .selection {
    grid-column: 1 / span 2;
  }
</style>
