<script lang="ts">
  import { TrainerButton } from '../../../dist';
  import { fullscreen } from '../../../dist/apis';
  import {
    faExpand,
    faGear,
    faArrowLeft,
  } from '@fortawesome/free-solid-svg-icons';
  import Fa from '../../../lib/components/Fa.svelte';
</script>

<div class="content">
  <TrainerButton label="Longpress default 1s" on:click={fullscreen}>
    <Fa icon={faExpand} />
  </TrainerButton>
  <TrainerButton
    label="Longpress 0.5s"
    longpressTime={500}
    on:click={() => console.log('Trainer button 2 pressed')}
  >
    <Fa icon={faGear} />
  </TrainerButton>
  <TrainerButton
    label="No longpress"
    longpressTime={0}
    on:click={() => console.log('Trainer button 3 pressed')}
  >
    <Fa icon={faArrowLeft} />
  </TrainerButton>
</div>

<style>
  div.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
</style>
