<script lang="ts">
  import type { IconDefinition } from '@fortawesome/fontawesome-common-types';

  export let icon: IconDefinition;
  export let size = 1;
  export let fill = 'currentColor';
  export let className = '';
</script>

<svg
  {fill}
  role="img"
  class="svg {className}"
  height="{size}em"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 {icon.icon[0]} {icon.icon[1]}"
>
  {#if Array.isArray(icon.icon[4])}
    {#each icon.icon[4] as d}
      <path {d} />
    {/each}
  {:else}
    <path d={icon.icon[4]} />
  {/if}
</svg>

<style>
  .svg {
    display: inline;
    vertical-align: -0.125em;
  }
</style>
