<script lang="ts">
  import { faMinus, faPlus } from '@fortawesome/free-solid-svg-icons';
  import Fa from './Fa.svelte';
  import { createEventDispatcher } from 'svelte';

  export let id = '';
  export let value: number;
  export let min = 0;
  export let max = 13;
  export let step = 1;

  const dispatch = createEventDispatcher();

  const increment = () => {
    if (!value) value = min;
    if (value < max) value += step;
  };
  const decrement = () => {
    if (!value) value = min;
    if (value > min) value -= step;
  };

  $: if (!isNaN(value)) value = Math.max(Math.min(value, max), min);
  $: dispatch('change', value);
</script>

<div class="counter">
  <button class="modifier" disabled={value <= min} on:click={decrement}>
    <Fa icon={faMinus} />
  </button>
  <input class="number-input" {id} {min} {max} bind:value type="number" />
  <button class="modifier" disabled={value >= max} on:click={increment}>
    <Fa icon={faPlus} />
  </button>
</div>

<style lang="scss">
  .counter {
    color: var(
      --color,
      var(--inca-on-surface-variant, $inca-on-surface-variant)
    );
    background-color: var(
      --background-color,
      var(--inca-surface-variant, $inca-surface-variant)
    );
    max-width: 8em;
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr auto 1fr;
    border-radius: $input-radius;
  }

  button.modifier {
    cursor: pointer;
    user-select: none;
    padding: $input-padding;
    color: inherit;

    &:disabled {
      cursor: default;
      opacity: $input-disabled-opacity;
    }
  }

  input.number-input {
    background: none;
    width: 100%;
  }
</style>
