<script lang="ts">
  import { SvelteComponent, onMount } from 'svelte';

  let advancedColors, theme, themeCollection;
  let ThemePickerButtons: typeof SvelteComponent,
    ThemePickerCustomize: typeof SvelteComponent,
    ThemePickerPreview: typeof SvelteComponent;
  onMount(async () => {
    [
      { advancedColors, theme, themeCollection },
      { default: ThemePickerPreview },
      { default: ThemePickerCustomize },
      { default: ThemePickerButtons },
    ] = await Promise.all([
      import('../apis/theme'),
      import('./themePicker/ThemePickerPreview.svelte'),
      import('./themePicker/ThemePickerCustomize.svelte'),
      import('./themePicker/ThemePickerButtons.svelte'),
    ]);
  });
</script>

<div class="theme-picker-container">
  {#if ThemePickerPreview && ThemePickerCustomize && ThemePickerButtons}
    <svelte:component this={ThemePickerPreview} {theme} />
    <svelte:component this={ThemePickerButtons} {theme} {themeCollection} />
    {#if $theme.name === 'custom'}
      <svelte:component
        this={ThemePickerCustomize}
        {theme}
        {themeCollection}
        {advancedColors}
      />
    {/if}
  {/if}
</div>

<style lang="scss">
  .theme-picker-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    max-width: 56rem;
    border-radius: $container-radius;
    background-color: var(--inca-surface-variant);
    color: var(--inca-on-surface-variant);
  }
</style>
