<script context="module" lang="ts">
  export type Mode =
    | 'dice'
    | 'rect'
    | 'disc'
    | 'heap'
    | 'stack'
    | 'grid'
    | 'donut';
</script>

<script lang="ts">
  import Dice from './tiles/Dice.svelte';
  import Disc from './tiles/Disc.svelte';
  import Heap from './tiles/Heap.svelte';
  import Grid from './tiles/Grid.svelte';
  import Rect from './tiles/Rect.svelte';
  import Stack from './tiles/Stack.svelte';
  import Donut from './tiles/Donut.svelte';

  const padding = 4;

  export let mode: Mode = 'dice';
  export let gridSize = 3;
  export let quantity = 6;

  interface TileProps {
    gridSize: number;
    quantity: number;
  }

  let tileProps: TileProps;
  $: tileProps = {
    gridSize,
    quantity,
  };
</script>

<button on:click class="tile">
  {#if mode === 'rect'}
    <Rect {...tileProps} />
  {:else if mode === 'dice'}
    <Dice {...tileProps} {padding} gridSize={3} />
  {:else if mode === 'disc'}
    <Disc {...tileProps} />
  {:else if mode === 'grid'}
    <Grid {...tileProps} {padding} />
  {:else if mode === 'heap'}
    <Heap {...tileProps} {padding} />
  {:else if mode === 'stack'}
    <Stack {...tileProps} {padding} />
  {:else if mode === 'donut'}
    <Donut {...tileProps} {padding} />
  {/if}
</button>

<style lang="scss">
  :global(svg.inca-tile) {
    border-radius: var(
      --border-radius,
      var(--inca-tile-border-radius, $inca-tile-border-radius)
    );
    border: var(
        --border-size,
        var(--inca-tile-border-size, $inca-tile-border-size)
      )
      solid
      var(
        --border-color,
        var(--inca-tile-border-color, $inca-tile-border-color)
      );
    background-color: var(
      --background-color,
      var(--inca-tile-background, $inca-tile-background)
    );
  }

  :global(svg.inca-tile .inca-tile-foreground) {
    fill: var(
      --foreground-color,
      var(--inca-tile-foreground, $inca-tile-foreground)
    );
  }

  .tile {
    width: var(--width, 12em);
    aspect-ratio: 1;
    appearance: none;
    border: none;
    padding: 0;
    background: none;
  }
</style>
