<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let longpressTime = 1000;
  export let label = '';

  let timeout: number;
  let holding = false;
  let animate = false;

  const start = (event: MouseEvent | TouchEvent) => {
    event.preventDefault();

    holding = true;
    timeout = setTimeout(() => {
      dispatch('click');
      navigator.vibrate(100);
    }, longpressTime);
  };

  const cancel = (event: MouseEvent | TouchEvent) => {
    event.preventDefault();

    if (longpressTime > 0) {
      holding = false;
      clearTimeout(timeout);
    }
  };
</script>

<div class="trainer-button-container">
  {#if longpressTime > 0}
    <button
      on:mousedown={start}
      on:touchstart={start}
      on:mouseup={cancel}
      on:mouseleave={cancel}
      on:touchend={cancel}
      on:touchcancel={cancel}
      class="trainer-button primary"
    >
      <slot />
      <div
        class:holding
        class="pressed-style"
        style:transition-duration="{holding ? longpressTime : '300'}ms"
      />
    </button>
  {:else}
    <button
      on:click={() => {
        animate = true;
      }}
      class="trainer-button secondary"
    >
      <slot />
      {#if animate}
        <div
          on:animationend={() => {
            animate = false;
          }}
          class="pressed-style secondary no-longpress"
          style:transition-duration="50ms"
        />
      {/if}
    </button>
  {/if}
  {#if label}
    <p
      class="label"
      class:primary={longpressTime > 0}
      class:secondary={longpressTime === 0}
    >
      {label}
    </p>
  {/if}
</div>

<style lang="scss">
  .primary {
    --foreground: var(
      --color,
      var(--inca-on-surface-variant, $inca-on-surface-variant)
    );
    --background: var(
      --background-color,
      var(--inca-surface-variant, $inca-surface-variant)
    );
  }

  .secondary {
    --foreground: var(
      --color,
      var(--inca-on-tertiary-container, $inca-on-tertiary-container)
    );
    --background: var(
      --background-color,
      var(--inca-tertiary-container, $inca-tertiary-container)
    );
  }

  .trainer-button-container {
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
  }

  p.label {
    color: var(--foreground);
    font-size: var(--font-size, 0.8em);
    margin: 0.5em 0 0.2em 0;
    display: block;
    font-weight: 500;
  }

  button.trainer-button {
    cursor: pointer;
    user-select: none;
    color: var(--foreground);
    background-color: var(--background);
    display: grid;
    place-items: center;
    font-size: 2em;
    appearance: none;
    width: var(--width, 2.2em);
    aspect-ratio: 1;
    border: none;
    border-radius: 18%;
    position: relative;
    overflow: hidden;

    :global(> svg) {
      height: 45%;
    }
  }

  .pressed-style {
    position: absolute;
    content: '';
    background-color: black;
    opacity: 0.12;
    width: 200%;
    aspect-ratio: 1;
    border-radius: 50%;
    transition-property: top left;
    transition-timing-function: cubic-bezier(0, 0.5, 0.5, 0.6);
    top: 70%;
    left: 70%;
  }

  .pressed-style.holding {
    top: -26%;
    left: -26%;
  }

  div.pressed-style.no-longpress {
    transition: none;
    animation: ripple-animation 0.3s 1 ease-out forwards;
  }

  @keyframes ripple-animation {
    0% {
      top: 70%;
      left: 70%;
      opacity: 0.2;
    }
    100% {
      top: -40%;
      left: -40%;
      opacity: 0;
    }
  }
</style>
