<script lang="ts">
  import './app.css';
  import '../../dist/styles/index.css';

  import { ThemePicker } from '../../dist';
  import TileSection from './components/TileSection.svelte';
  import TrainerButtonsSection from './components/TrainerButtonsSection.svelte';
  import ActionButtonsSection from './components/ActionButtonsSection.svelte';
  import SpeechSection from './components/SpeechSection.svelte';
</script>

<div class="root">
  <main>
    <h1>InCA Utils Usage Examples</h1>

    <article>
      <h2>Tile</h2>
      <TileSection />
    </article>

    <article>
      <h2>Trainer Button</h2>
      <TrainerButtonsSection />
    </article>

    <article>
      <h3>Action Buttons</h3>
      <ActionButtonsSection />
    </article>

    <article>
      <h3>Theme Picker</h3>
      <ThemePicker />
    </article>

    <article>
      <h3>Speech</h3>
      <SpeechSection />
    </article>
  </main>
</div>

<style>
  .root {
    background-color: var(--inca-background);
    color: var(--inca-on-background);
    height: 100%;
    width: 100%;
  }

  main {
    padding: 2rem;
    max-width: 56rem;
    margin: auto;
  }
</style>
